extends ../includes/_layout.pug

block title
    title 首頁

block scss
    link(rel='stylesheet', href= assets + '/styles/index.css')

block main
    div#appIndex
        div
            h2
                img(src=assets + "/images/badge/dahu.png", alt="")
                p.f_white.f18  大戶優惠

            p.f_grey_02.f12.tooltip_btn 2020-05

        ul
            li.W50
                img(src=assets + "/images/icon/28.svg", alt="")
                p.f_white.f14
                    span 活存利率
                    span.f_gold
                        | 最高
                        font.f20 1.1
                        | %
            li.W50
                img(src=assets + "/images/icon/29.svg", alt="")
                p.f_white.f14
                    span 免費跨提轉
                    span.f_gold
                        | 剩
                        font.f20 16
                        | 次
            li.W50
                img(src=assets + "/images/icon/30.svg", alt="")
                p.f_white.f14
                    span 歐元換匯
                    span.f_gold
                        | 最高減
                        font.f20 6
                        | 分
            li.W50
                img(src=assets + "/images/icon/31.svg", alt="")
                p.f_white.f14
                    span 基金手續費
                    span.f_gold
                        | 最低
                        font.f20 0
                        | 元


        a.btn_gold.btn_seeRight 查看完整權益
