
extends ../includes/jiaofei/_layout.pug

block title
    title pm_1-2

block scss
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/jiaofei.css')

include ../includes/jiaofei/ui-jiaofei.pug
include ../includes/components.pug
block main
    div#appJiaofei
        +_header("電信費繳費", 'white')
        div#appJiaofeiContent
            div.jiaofeiSearch
                div.formSearch.mt-24.mb-32
                    div.item.mb-16
                        div.item-info.mb-8
                            div.name
                                p 身份證字號
                        input.jf-input(type="text", value='H2356•••••', placeholder='請輸入電信號碼')
                    div#item-select.item.mb-16
                        div.item-info.mb-8
                            div.name
                                p 電信公司
                        select.cw-dropdown(required)
                            option(value="" selected disabled) 請選擇電信公司
                            option(value="中華電信") 中華電信
                            option(value="遠傳電信") 遠傳電信
                    div#item-tel.item.mb-16(hidden)
                        div.item-info.mb-8
                            div.name(v-on:click="switchDrawer('drawerTel', true)")
                                p 電信號碼
                                img(src=assets+"/images/jiaofei/light.svg" alt="")
                            div.detail(v-on:click="switchDrawer('drawerCommon', true)")
                                img(src=assets+"/images/jiaofei/add-go.svg" alt="")
                                p 常用號碼
                        input.jf-input(type="tel", v-model="numTel", placeholder='請輸入電信號碼')
                    div#item-mobile.item.mb-16(hidden)
                        div.item-info.mb-8
                            div.name
                                p 行動電話
                            div.detail(v-on:click="switchDrawer('drawerCommon', true)")
                                img(src=assets+"/images/jiaofei/add-go.svg" alt="")
                                p 常用號碼
                        input.jf-input(type="tel", class=('disable'), value='1234568910', placeholder='請輸入行動電話')
                        p.notice 行動電話格式錯誤

                button.btnDefault(:class=("{ 'disable' : numTel==''}")) 確認

        .drawer(class='', :class=("{ 'show' : drawerTel}"), )
            .drawer-container
                div.drawer-head.mb-16
                    h5.f20.f_b 電信號碼
                    a.f_gold.f_b(@click="switchDrawer('drawerTel', false)", href="javascript:void(0)") 關閉
                div.drawer-content
                    div.telecom
                        h5.tel-name 一般電信業務
                        ul.tel-list
                            li
                                p.type.f_b 項目
                                p.value.f_b 電信號碼格式範例
                            li
                                p.type 市內電話
                                p.value 0223445858 &nbsp;&nbsp;
                                    |
                                    span.gold 需含區域碼
                            li
                                p.type 行動電話
                                p.value 0932123456
                            li
                                p.type 呼叫器
                                p.value 0959123456
                            li
                                p.type 傳訊王
                                p.value PB2123456
                    div.telecom
                        h5.tel-name 國際電信業務
                        ul.tel-list
                            li
                                p.type.f_b 項目
                                p.value.f_b 電信號碼格式範例
                            li
                                p.type 傳真式電報交換業務
                                p.value 0161234 &nbsp;&nbsp;
                                    |
                                    span.gold 原帳號前加01
                            li
                                p.type 電報交換業務
                                p.value 0110003 &nbsp;&nbsp;
                                    |
                                    span.gold 原帳號前加01
                            li
                                p.type 電話商務卡
                                p.value GI23456、G234567
                            li
                                p.type 數據業務
                                p.value DX123ab
                            li
                                p.type 衛星電話業務
                                p.value S2345YA
                            li
                                p.type 主機代管業務
                                p.value CL6234567
                    div.telecom
                        h5.tel-name 網路服務業務
                        ul.tel-list
                            li
                                p.type.f_b 項目
                                p.value.f_b 電信號碼格式範例
                            li
                                p.type HiNet
                                p.value
                                    | HN12345678 &nbsp;&nbsp;
                                    span.gold 非使用者識別碼
                            li
                                p.type 智慧型網路
                                p.value
                                    | 0800012345、02031234
                                    br
                                    | 020112345、0991123456
                                    br
                                    | 020412345、0114123456
                    div.telecom
                        h5.tel-name 其他業務
                        ul.tel-list
                            li
                                p.type.f_b 項目
                                p.value.f_b 電信號碼格式範例
                            li
                                p.type 市話專線
                                p.value
                                    | 223A12345、223D12345
                                    br
                                    | 223E12345
                                    br
                                    span.gold 帳單營運處代號+專線號碼
                            li
                                p.type 傳真存轉
                                p.value FX123456
                            li
                                p.type 高速數據
                                p.value FR123456、FR1234567
                            li
                                p.type 超高速數據
                                p.value AT123456、AT12345678
                            li
                                p.type 公路監理
                                p.value N1234
                            li
                                p.type 分封交換
                                p.value H123456、H1234567
                            li
                                p.type 證券交易
                                p.value H123456
                            li
                                p.type 數據業務設備代管
                                p.value CL9123456
                            li
                                p.type 電傳視訊
                                p.value VD123456
                            li
                                p.type 電子文件
                                p.value ED123456
                            li
                                p.type 公眾信息
                                p.value AHA1234
                            li
                                p.type 光纖網路業務
                                p.value
                                    | AHA223Y123456
                                    br
                                    | 223YD123456
                                    br
                                    | 223YE123456
                                    br
                                    | 223YV1234561234
                            li
                                p.type 資訊通信服務
                                p.value
                                    span.gold 帳單營運處代號 + FTTB
                                    br
                                    span.gold 用戶號碼
                            li
                                p.type 綠能業務
                                p.value
                                    | NM12345678
                                    br
                                    | UT12345678
                            li
                                p.type 總機服務
                                p.value EN12345678
                            li
                                p.type 客戶服務
                                p.value
                                    | PX12345678、CN1234A
                                    br
                                    | CC12345678
                a.btn_gold(@click="switchDrawer('drawerTel', false)", href="javascript:void(0)") 知道了

        .drawer(class='', :class=("{ 'show' : drawerCommon}"),)
            .drawer-container
                div.drawer-head.mb-24
                    h5.f20.f_b 常用號碼
                    a.f_gold.f_b(@click="switchDrawer('drawerCommon', false)", href="javascript:void(0)") 取消
                div.drawer-content
                    div.create-num.mb-8(v-on:click="switchDrawer('drawerCommonCreate', true)")
                        img(src=assets+"/images/jiaofei/person-add.svg")
                        p 新增常用號碼
                    ul.num-list
                        li
                            .num-list-container.bg-grey(v-on:click="clickNumListLi(1)", :class=("{ 'focus' : numListLi == 1}"))
                                div.num-content
                                    p.name 嘉義老家市話
                                    p.num 052311234
                                img.num-icon(src=assets+"/images/jiaofei/pencil.svg")
                            .num-list-delete
                                p 刪除
                        li
                            .num-list-container(v-on:click="clickNumListLi(2)", :class=("{ 'focus' : numListLi == 2}"))
                                div.num-content
                                    p.name 媽媽手機
                                    p.num 0933132456
                                img.num-icon(src=assets+"/images/jiaofei/pencil.svg")
                            .num-list-delete
                                p 刪除
                        li
                            .num-list-container.bg-grey(v-on:click="clickNumListLi(3)", :class=("{ 'focus' : numListLi == 3}"))
                                div.num-content
                                    p.name HiNet
                                    p.num 052311234
                                img.num-icon(src=assets+"/images/jiaofei/pencil.svg")
                            .num-list-delete
                                p 刪除
                        li
                            .num-list-container(v-on:click="clickNumListLi(4)", :class=("{ 'focus' : numListLi == 4}"))
                                div.num-content
                                    p.name 我的手機
                                    p.num 0919568988
                                img.num-icon(src=assets+"/images/jiaofei/pencil.svg")
                            .num-list-delete
                                p 刪除
                        li
                            .num-list-container.bg-grey(v-on:click="clickNumListLi(5)", :class=("{ 'focus' : numListLi == 5}"))
                                div.num-content
                                    p.name 台北家
                                    p.num 052311234
                                img.num-icon(src=assets+"/images/jiaofei/pencil.svg")
                            .num-list-delete
                                p 刪除
                a.btn_gold(:class=("{ 'btn_grey' : numListLi == -1}"), href="javascript:void(0)", @click="numListLi!=-1 ? switchDrawer('drawerCommon', false) : switchDrawer('drawerCommon', true) ") 確認

        .drawer(class='', :class=("{ 'show' : drawerCommonCreate}"),)
            .drawer-container
                div.drawer-head.mb-24
                    h5.f20.f_b 新增常用號碼
                    a.f_gold.f_b(@click="switchDrawer('drawerCommonCreate', false)", href="javascript:void(0)") 取消
                div.drawer-content
                    div.create-type.mb-16
                        p.title.mb-8 電信號碼
                        input.jf-input(type="tel", v-model="ccNumber", placeholder='請輸入電信號碼')
                    div.create-type.mb-16
                        p.title.mb-8 號碼名稱
                        input.jf-input(type="text", v-model="ccName", placeholder='請輸入此電信號碼名稱')
                a.btn_gold(:class=("{ 'btn_grey' : !(ccNumber!=''&& ccName !='' )}"), href="javascript:void(0)") 確認

block js

