
extends ../includes/jiaofei/_layout.pug

block title
    title pm_2-1-1

block scss
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/jiaofei.css')

include ../includes/jiaofei/ui-jiaofei.pug
include ../includes/components.pug
block main
    div#appJiaofei
        +_header("他行信用卡繳費", 'white')
        div#appJiaofeiContent
            div.jiaofeiProcess.mt-24
                div.process-container.mb-24
                    p.process-title.mb-8 身分證字號
                    input.jf-input(type="text" value='H23456 • • • • •' placeholder='請輸入身分證字號')
                hr
                div.process-container.mb-24
                    div.process-credit.mt-24
                        div.process-credit-info.mb-8
                            p.credit-info-title 繳費對象
                            div.create-num(v-on:click="switchDrawer('drawerCreditCommon', true)")
                                img(src=assets+"/images/jiaofei/add-go.svg")
                                p.gold 常用信用卡
                        input.jf-input.bank-code(type="text" readonly :value='valueBank' @click.prevent="switchDrawer('drawerBankCode', true)" placeholder='請選擇銀行代碼')
                        input.jf-input(type="tel" value='123456789111213' placeholder='請輸入信用卡卡號或銷帳編號')
                        p.credit-success.mt-8
                            | 銷帳編號為 26660 +11碼身份證數字，身分證字號英文，請根據&nbsp;
                            span(v-on:click="switchDrawer('drawerCreditIDCard', true)") 身分證代碼表
                            | &nbsp;轉換為數字
                    p.process-title.mt-16.mb-8 繳費金額
                    input.jf-input(type="tel",:class="{disable: creditMoney=='0'}", v-model="creditMoney", placeholder='請輸入繳費金額')
                    p.hint-zero(v-if="creditMoney=='0'") 繳費金額不能為０
                hr
                div.process-container.mt-24.mb-32
                    p.process-title.mb-8 扣款帳號
                    div.process-account
                        p.process-account-name.mb-8
                            | 營業部活期存款
                            span (807)0016893949394934
                        p.process-account-price 帳戶餘額 37,400 元

                button.btnDefault.disable 確認
                +notice('process-credit')
        .drawer(class='', :class=("{ 'show' : drawerCreditCommon}"))
            .drawer-container
                div.drawer-head.mb-24
                    h5.f20.f_b 常用信用卡
                    a.f_gold.f_b(@click="switchDrawer('drawerCreditCommon', false) ", href="javascript:void(0)") 取消
                div.drawer-content
                    div.create-num.mb-8(v-on:click="switchDrawer('drawerCreditCommonCreate', true)")
                        img(src=assets+"/images/jiaofei/add-go.svg")
                        p 新增常用信用卡
                    ul.num-list
                        li
                            .num-list-container.bg-grey(v-on:click="clickNumListLi(1)", :class=("{ 'focus' : numListLi == 1}"))
                                div.num-content
                                    p.name 我的黑卡
                                    p.num (004)1234567890111213
                                img.num-icon(src=assets+"/images/jiaofei/pencil.svg")
                            .num-list-delete
                                p 刪除
                        li
                            .num-list-container(v-on:click="clickNumListLi(2)", :class=("{ 'focus' : numListLi == 2}"))
                                div.num-content
                                    p.name 小寶台新
                                    p.num (812)001689394933433
                                img.num-icon(src=assets+"/images/jiaofei/pencil.svg")
                            .num-list-delete
                                p 刪除
                        li
                            .num-list-container.bg-grey(v-on:click="clickNumListLi(3)", :class=("{ 'focus' : numListLi == 3}"))
                                div.num-content
                                    p.name 大寶國泰
                                    p.num (006)001689394933444
                                img.num-icon(src=assets+"/images/jiaofei/pencil.svg")
                            .num-list-delete
                                p 刪除
                        li
                            .num-list-container(v-on:click="clickNumListLi(4)", :class=("{ 'focus' : numListLi == 4}"))
                                div.num-content
                                    p.name 中國信託
                                    p.num (005)0016893949394934
                                img.num-icon(src=assets+"/images/jiaofei/pencil.svg")
                            .num-list-delete
                                p 刪除
                        li
                            .num-list-container.bg-grey(v-on:click="clickNumListLi(5)", :class=("{ 'focus' : numListLi == 5}"))
                                div.num-content
                                    p.name 上海商銀
                                    p.num (011)1234567890111213
                                img.num-icon(src=assets+"/images/jiaofei/pencil.svg")
                            .num-list-delete
                                p 刪除
                        li
                            .num-list-container(v-on:click="clickNumListLi(6)", :class=("{ 'focus' : numListLi == 6}"))
                                div.num-content
                                    p.name 土地銀行
                                    p.num (013)001689394933456
                                img.num-icon(src=assets+"/images/jiaofei/pencil.svg")
                            .num-list-delete
                                p 刪除
                a.btn_gold(:class=("{ 'btn_grey' : numListLi == -1}"), href="javascript:void(0)", @click="numListLi!=-1 ? switchDrawer('drawerCommon', false):switchDrawer('drawerCommon', true)") 確認

        .drawer(class='', :class=("{ 'show' : drawerCreditCommonCreate}"))
            .drawer-container
                div.drawer-head.mb-24
                    h5.f20.f_b 新增常用信用卡
                    a.f_gold.f_b(@click="switchDrawer('drawerCreditCommonCreate', false)", href="javascript:void(0)") 取消
                div.drawer-content
                    div.create-type.mb-16
                        p.title.mb-8 銀行代碼
                        input.jf-input.bank-code(type="text" readonly :value='valueCommonBank' @click.prevent="switchDrawer('drawerCommonBankCode', true)" placeholder='請選擇銀行代碼')
                    div.create-type.mb-16
                        p.title.mb-8 信用卡卡號
                        div.jf-creditCard(:class=("{ 'focus' : jfCreditCard}"))
                            input.jf-creditCard-input#CN1(@focus='handlerCreditCNFocus', @focusout='handlerCreditCNFocusOut', @input='handlerCreditCN', value='1234' type="tel", maxlength="4", pattern="[0-9]{4}", autoComplete="cc-number")
                            span.jf-creditCard-line
                            input.jf-creditCard-input#CN2(@focus='handlerCreditCNFocus', @focusout='handlerCreditCNFocusOut', @input='handlerCreditCN', value='5678' type="tel", maxlength="4", pattern="[0-9]{4}", autoComplete="off")
                            span.jf-creditCard-line
                            input.jf-creditCard-input#CN3(@focus='handlerCreditCNFocus', @focusout='handlerCreditCNFocusOut', @input='handlerCreditCN', value='9011' type="tel", maxlength="4", pattern="[0-9]{4}", autoComplete="off")
                            span.jf-creditCard-line
                            input.jf-creditCard-input#CN4(@focus='handlerCreditCNFocus', @focusout='handlerCreditCNFocusOut', @input='handlerCreditCN', value='1213' type="tel", maxlength="4", pattern="[0-9]{4}", autoComplete="off")
                    div.create-type.mb-16
                        p.title.mb-8 卡片名稱
                        input.jf-input(type="text", v-model="ccCreditName", placeholder='請輸入卡片名稱')
                a.btn_gold(@click="switchDrawer('drawerCreditCommonCreate', false)", :class=("{ 'btn_grey' : !(ccCreditName!=''&&ccCreditNumber.length>=25)}"), href="javascript:void(0)") 確認

        .drawer(class='', :class=("{ 'show' : drawerCreditIDCard}"))
            .drawer-container
                div.drawer-head.mb-24
                    h5.f20.f_b 身分證字號代碼
                    a.f_gold.f_b(@click="switchDrawer('drawerCreditIDCard', false)", href="javascript:void(0)") 關閉
                div.drawer-content
                    ul.id-char-list
                        li
                            p.left
                                span.char A
                                span.city 臺北市
                                span.code 10
                            p.right
                                span.char B
                                span.city 臺中市
                                span.code 11
                        li
                            p.left
                                span.char C
                                span.city 基隆市
                                span.code 12
                            p.right
                                span.char D
                                span.city 臺南市
                                span.code 13
                        li
                            p.left
                                span.char E
                                span.city 高雄市
                                span.code 14
                            p.right
                                span.char F
                                span.city 新北市
                                span.code 15
                        li
                            p.left
                                span.char G
                                span.city 宜蘭縣
                                span.code 16
                            p.right
                                span.char H
                                span.city 桃園市
                                span.code 17
                        li
                            p.left
                                span.char I
                                span.city 嘉義市
                                span.code 34
                            p.right
                                span.char J
                                span.city 新竹縣
                                span.code 18
                        li
                            p.left
                                span.char K
                                span.city 苗栗縣
                                span.code 19
                            p.right
                                span.char M
                                span.city 南投縣
                                span.code 21
                        li
                            p.left
                                span.char N
                                span.city 彰化縣
                                span.code 22
                            p.right
                                span.char O
                                span.city 新竹市
                                span.code 35
                        li
                            p.left
                                span.char P
                                span.city 雲林縣
                                span.code 23
                            p.right
                                span.char Q
                                span.city 嘉義縣
                                span.code 24
                        li
                            p.left
                                span.char T
                                span.city 屏東縣
                                span.code 27
                            p.right
                                span.char U
                                span.city 花蓮縣
                                span.code 28
                        li
                            p.left
                                span.char V
                                span.city 臺東縣
                                span.code 29
                            p.right
                                span.char W
                                span.city 金門縣
                                span.code 32
                        li
                            p.left
                                span.char X
                                span.city 澎湖縣
                                span.code 30
                            p.right
                                span.char Z
                                span.city 連江縣
                                span.code 33
                a.btn_gold(@click="switchDrawer('drawerCreditIDCard', false)", :class=(""), href="javascript:void(0)") 知道了

        .drawer(class='', :class=("{ 'show' : drawerBankCode}"))
            .drawer-container.bank
                div.drawer-head.mb-24
                    a.f_gold.f_b.mb-16(@click="switchDrawer('drawerBankCode', false)" href="javascript:void(0)") 取消
                    div.search-input.mt-16
                        span.bank-code-search-icon(:class=("{'close':searchValue!=''}"), @click="searchValue = ''")
                        input.jf-input.bank-code-search(type="text" v-model="searchValue" placeholder='搜尋銀行代碼')
                div.drawer-content.bank
                    div.empty(v-if='filteredBankList.length==0')
                        img(src=assets+"/images/jiaofei/no-result.svg")
                        p
                            | 搜尋的銀行目前不在合作夥伴內
                            br
                            | 試試看其他家銀行吧！
                    ul.bank-code-list(v-if='filteredBankList.length>=1')
                        li(v-for="(item, index) in filteredBankList")
                            p(@click="valueBank = `${item.code} ${item.name}`;switchDrawer('drawerBankCode', false);")
                                span {{item.code}}
                                | {{item.name}}

        .drawer(class='', :class=("{ 'show' : drawerCommonBankCode}"))
            .drawer-container.bank
                div.drawer-head.mb-24
                    h5.f20.f_b
                    a.f_gold.f_b.mb-16(@click="switchDrawer('drawerCommonBankCode', false)" href="javascript:void(0)") 取消
                    div.search-input.mt-16
                        span.bank-code-search-icon(:class=("{'close':searchCommonValue!=''}"), @click="searchCommonValue = ''")
                        input.jf-input.bank-code-search(type="text" v-model="searchCommonValue" placeholder='搜尋銀行代碼')
                div.drawer-content.bank
                    div.empty(v-if='filteredCommonBankList.length==0')
                        img(src=assets+"/images/jiaofei/no-result.svg")
                        p
                            | 搜尋的銀行目前不在合作夥伴內
                            br
                            | 試試看其他家銀行吧！
                    ul.bank-code-list(v-if='filteredCommonBankList.length>=1')
                        li(v-for="(item, index) in filteredCommonBankList")
                            p(@click="valueCommonBank = `${item.code} ${item.name}`;switchDrawer('drawerCommonBankCode', false)")
                                span {{item.code}}
                                | {{item.name}}

block js
