
extends ../includes/_layout.pug

block title
    title re_1-3

block scss
    link(rel='stylesheet', href= public +'/lib/styles/swiper.min.css')
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/re.css')


include ../includes/components.pug
block main
    div#re
        h1.header
                .back 準備紅包
        .swiper-container.red_kv
            .swiper-wrapper
                .swiper-slide
                    .text
                        h5.f24.f_white 我吃土，你發財！
                        img(src=assets+"/images/icon/edit.svg", alt="")
                        .edit_area
                            input(type="text", value="我吃土，你發財！").f24.f_white
                            hr
                            span.f_white.f12 紅包名稱字數上限為10字
                    img(src=assets+"/images/hongbao/pattern/1/2.png", alt="", width="100%")
                .swiper-slide
                    .text
                        h5.f24.f_white 我吃土，你發財！
                        img(src=assets+"/images/icon/edit.svg", alt="")
                        .edit_area
                            input(type="text", value="我吃土，你發財！").f24.f_white
                            hr
                            span.f_white.f12 紅包名稱字數上限為10字
                    img(src=assets+"/images/hongbao/pattern/2/2.png", alt="", width="100%")
                .swiper-slide
                    .text
                        h5.f24.f_white 我吃土，你發財！
                        img(src=assets+"/images/icon/edit.svg", alt="")
                        .edit_area
                            input(type="text", value="我吃土，你發財！").f24.f_white
                            hr
                            span.f_white.f12 紅包名稱字數上限為10字
                    img(src=assets+"/images/hongbao/pattern/3/2.png", alt="", width="100%")
                .swiper-slide
                    .text
                        h5.f24.f_white 我吃土，你發財！
                        img(src=assets+"/images/icon/edit.svg", alt="")
                        .edit_area
                            input(type="text", value="我吃土，你發財！").f24.f_white
                            hr
                            span.f_white.f12 紅包名稱字數上限為10字
                    img(src=assets+"/images/hongbao/pattern/4/2.png", alt="", width="100%")

            .swiper-pagination.style2




        .content
            p.f16.f_b 發放方式
            .W100.radio_wrap
                input(type="radio", valeu="每包一樣", name="given_type", id="same", hidden, checked)
                label.W50(for="same") 每包一樣
                input(type="radio", valeu="隨機分配", name="given_type", id="random", hidden)
                label.W50(for="random") 隨機分配

            p.f16.f_b 紅包總金額
            .W100
                input.W100(type="tel", placeholder="請輸入紅包金額", value="5,000")

            p.f16.f_b 紅包數量
            .W100
                input.W100(type="tel", placeholder="請輸入紅包數量", value="50")
                span 每次發送上限50包

            .price_area
                p.f_grey_03.f14 總金額
                h5.f_black.f24
                    | 新臺幣&nbsp;
                    font 250,000
                h6.f_grey_03.f14.error
                    | 總金額超過帳戶餘額
                    font 8,900
                    | 元

                a.btn_grey(href="#") 下一步



            +notice('red')


block js
    script(src= public + '/lib/js/jquery-1.12.4.min.js' defer)
    script(src= public + '/lib/js/hammer.min.js' defer)
    script(src= public + '/lib/js/jquery.hammer.js' defer)
    script(src= public +'/lib/js/swiper.min.js' defer)
    script(src= assets + '/js/components.bundle.js' defer)
    script(src= assets + '/js/re.bundle.js' defer)


