
extends ../includes/_layout.pug

block title
    title cw_1-4

block scss
    link(rel='stylesheet', href= public +'/lib/styles/swiper.min.css')
    link(rel='stylesheet' href= assets + '/styles/components.css')
    link(rel='stylesheet' href= assets + '/styles/re.css')


include ../includes/components.pug
block main
    div#re
        h1.header
                .back 準備紅包
        .swiper-container.red_kv
            .swiper-wrapper
                .swiper-slide
                    .text
                        h5.f20.f_white 我吃土，你發財！
                        img(src=assets+"/images/icon/edit.svg", alt="")
                    img(src=assets+"/images/re/img_01.jpg", alt="", width="100%")
                .swiper-slide
                    .text
                        h5.f20.f_white 我吃土，你發財！
                        img(src=assets+"/images/icon/edit.svg", alt="")
                    img(src=assets+"/images/re/img_01.jpg", alt="", width="100%")
                .swiper-slide
                    .text
                        h5.f20.f_white 我吃土，你發財！
                        img(src=assets+"/images/icon/edit.svg", alt="")
                    img(src=assets+"/images/re/img_01.jpg", alt="", width="100%")
                .swiper-slide
                    .text
                        h5.f20.f_white 我吃土，你發財！
                        img(src=assets+"/images/icon/edit.svg", alt="")
                    img(src=assets+"/images/re/img_01.jpg", alt="", width="100%")

            .pagination
                .swiper-button-prev
                    img(src=assets+"/images/icon/arrow-left-black_style2.svg", alt="")
                .swiper-button-next
                    img(src=assets+"/images/icon/arrow-right-black_style2.svg", alt="")

            .swiper-pagination.style2


        .content
            p.f16.f_b 發放方式
            .W100.radio_wrap
                input(type="radio", valeu="每包一樣", name="given_type", id="same", hidden)
                label.W50(for="same") 每包一樣
                input(type="radio", valeu="隨機分配", name="given_type", id="random", hidden, checked)
                label.W50(for="random") 隨機分配

            p.f16.f_b 每包金額
            .W100.error
                input.W100(type="number", placeholder="請輸入紅包金額", value="3000")
                span 帳戶餘額不足

            p.f16.f_b 紅包數量
            .W100.error
                input.W100(type="number", placeholder="請輸入紅包數量", value="6000")
                span 紅包數量不可超過紅包總金額

            .price_area
                p.f_grey_03.f14 總金額
                h5.f_black.f24
                    | 新臺幣&nbsp;
                    font 18,000,000
                h6.f_grey_03.f14.error
                    | 總金額超過帳戶餘額
                    font 8,900
                    | 元

                a.btn_grey(href="#") 下一步


            +notice('red', false)
                ul
                    li 	1. 每包紅包領取期限為24小時。
                    li 	2. 紅包的每日/每月限額與非約定轉帳共用額度，紅包建立後且未領取仍會佔用額度。


block js
    script(src= public + '/lib/js/jquery-1.12.4.min.js' defer)
    script(src= public +'/lib/js/swiper.min.js' defer)
    script(src= assets + '/js/components.bundle.js' defer)
    script(src= assets + '/js/re.bundle.js' defer)


