mixin switch(status)
    label.toggle
        input.toggle-checkbox(type='checkbox')
        .toggle-switch


mixin select(list,target)
    select.cw-select
        each data,i in list
            option(value=data selected=(target==i)?true:false) #{data}

mixin dropdown(list,placeholder)
    select.cw-dropdown(required)
        option(value="" selected disabled) #{placeholder}
        each data in list
            option(value=data) #{data}

mixin check(id,label,isChecked)
    label.cw-check
        input(id='check_'+id,type='checkbox', checked=isChecked)
        label(for='check_'+id) #{label}

mixin notice(content,isLight)
    div.cw-notice
        .cw-notice-title
            p(class=(isLight)?'light':'') 注意事項
            a
                p
        .cw-notice-content(class=(isLight)?'light':'')
            if content == 15
                +notice-15()
            else if content == 20
                +notice-20()
            else if content == 26
                +notice-26()
            else if content == 'red'
                +notice-red()
            else
                p(class=(isLight)?'light':'') #{content}
mixin notice-15()
    ul
        li 1. 無卡提款僅提供MMA金融交易網具交易權限之個人會員使用，法人會員不提供此項服務。
        li 2. 使用無卡提款服務，請先攜帶本行晶片金融卡至本行ATM進行啟用無卡提款服務，完成設定無卡提款密碼後，至行動銀行「我的設定」>「管理我的行動裝置」進行行動裝置授權設定。
        li 3. 無卡提款之交易帳號，為您啟用無卡提款服務時約定之新臺幣活期帳號。
        li 4. 無卡提款每次提領日幣現金以萬元為單位，新臺幣、港幣每次提領現金以千元為單位，美金、人民幣每次提領現金以百元為單位。
        li 5. 無卡提領外幣現鈔，如以新臺幣帳號扣帳，所領取之外幣金額以實際取款當時貴行掛牌外幣現鈔賣出匯率折合新臺幣金額扣帳。
        li 6. 自行單筆最高提領限額新臺幣3萬元、美金9百元、港幣7千元、日幣10萬元、人民幣3千元(單日限額6千元)，跨行單筆最高提領限額新臺幣2萬元(外幣無卡提款目前僅限自行)，單日無卡提款限額為等值新臺幣3萬元(台、外幣合併計算)，提款限額與晶片金融卡(含正、附卡)合併計算，前述限額貴行得視需要隨時調整。
        li 7. 無卡提款序號時效為三十分鐘。
        li 8. 行動銀行於每次進行無卡提款交易時，產生一次性提款序號，請於指定時間內至本行設置ATM依照指示輸入「金融機構代號」、「無卡提款序號」、「提款金額」及「無卡提款密碼」完成提款。
        li 9. 如欲取消當次無卡提款交易，得以下列兩種方式為之：
            ul
                li 1. 尚未逾提款時效前，進入行動銀行>「豐雲櫃台」>「無卡提款」>「查詢紀錄」，點選【取消本次提款】功能鍵，即完成取消該筆無卡提款交易。
                li 2. 逾提款時效，未於本行ATM完成提款，該筆無卡提款交易即自動取消。
        li 10. 如欲關閉無卡提款服務，得以下列三種方式為之：
            ul
                li 1. 攜帶本行晶片金融卡，至本行設置之ATM進行關閉無卡提款服務。
                li 2. 進入行動銀行>「豐雲櫃台」>「無卡提款」>「查詢/關閉無卡提款服務」，點選【關閉】功能鍵，即關閉無卡提款服務。
                li 3. 撥打本行客服專線02-2505-9999由專人辦理。
        li 11. 使用無卡提款，如輸入無卡提款密碼錯誤連續達五次，即關閉無卡提款功能，須至本行ATM使用晶片金融卡重新啟用該功能。
        li 12. 申請無卡提款之晶片金融卡或帳號如掛失或註銷，已開通之無卡提款功能亦隨同失效，須攜帶晶片金融卡至本行ATM重新申請。
        li 13. 請妥善保管您的無卡提款密碼及一次性提款序號，絕不向他人透露，如有洩露之虞，應即向本行辦理關閉手續或至攜帶晶片金融卡至本行ATM進行密碼重新設定。
        li 14. ATM 無卡提款功能僅限正卡持卡人申請，不提供附卡持卡人申請。

mixin notice-20()
    ul
        li 1. 依「交易日」排序提供近一年交易紀錄。
        li 2. 如進行「取消本次提款」送出取消紀錄後，請務必再次查詢該筆資料是否取消成功。如取消失敗，本行將不再另外通知。
        li 3. 如輸入無卡提款密碼錯誤連續達五次，即關閉無卡提款功能，須至本行ATM使用晶片金融卡重新啟用該功能。
        li 4. 如欲關閉無卡提款服務，得以下列三種方式為之：
            ul
                li a. 攜帶本行晶片金融卡，至本行設置之ATM進行關閉無卡提款服務。
                li b. 進入行動銀行>「豐雲櫃台」>「無卡提款」>「查詢/關閉無卡提款服務」，點選【關閉】功能鍵，即關閉無卡提款服務。
                li c. 撥打本行客服專線02-2505-9999由專人辦理。
        li 5. 申請無卡提款之晶片金融卡或帳號如掛失或註銷，已開通之無卡提款功能亦隨同失效，須攜帶晶片金融卡至本行ATM重新啟用該功能。

mixin notice-26()
    ul
        li 1. 關閉無卡提款服務，您授權之行動裝置皆無法進行無卡提款交易。
        li 2. 如欲重新開啟，請攜帶本行晶片金融卡，至本行設置之ATM進行關閉無卡提款服務。
        li 3. 使用無卡提款，如輸入無卡提款密碼錯誤連續達五次，即關閉無卡提款功能，須至本行ATM使用晶片金融卡重新啟用該功能。
        li 4. 申請無卡提款之晶片金融卡或帳號如掛失或註銷，已開通之無卡提款功能亦隨同失效，須攜帶晶片金融卡至本行ATM重新啟用該功能。


mixin notice-red()
    ul
        li 	1. 每包紅包領取期限為24小時。
        li 	2. 紅包的每日/每月限額與非約定轉帳共用額度，紅包建立後且未領取仍會佔用額度。
