h1.channels-title 特色通路
div.channels
    div.nav-bar#channels--nav-bar
        div.nav-link(data-type="digital")
            a.active 數位
        div.nav-link(data-type="travel")
            a 旅遊
        div.nav-link(data-type="movie")
            a 影城
    div.content(data-name="digital" style='display:none')
        div.type
            img.type--icon(src=assets+"/images/icon/motorcycle.svg" alt="")
            div.type--desc
                p.type--name 外送服務
                p.type--stores Uber Eats、foodpanda、LALAMOVE
        div.type
            img.type--icon(src=assets+"/images/icon/video.svg" alt="")
            div.type--desc
                p.type--name 影音娛樂
                p.type--stores 愛奇藝、Netflix、XBOX、Spotify、KKBOX
        div.type
            img.type--icon(src=assets+"/images/icon/game.svg" alt="")
            div.type--desc
                p.type--name 遊戲
                p.type--stores PlayStation、Nintendo、Steam
        div.type
            img.type--icon(src=assets+"/images/icon/traffic.svg" alt="")
            div.type--desc
                p.type--name 交通出行
                p.type--stores Uber、iRent、WeMo Scooter
        div.type
            img.type--icon(src=assets+"/images/icon/knowledge.svg" alt="")
            div.type--desc
                p.type--name 知識學習
                p.type--stores Hahow好學校、Udemy、VoiceTube、PressPlay
        div.type
            img.type--icon(src=assets+"/images/icon/ticket.svg" alt="")
            div.type--desc
                p.type--name 線上購票
                p.type--stores 兩廳院售票網、tixCraft 拓元售票線上系統、寬宏售票線上系統、年代售票線上系統
    div.content(data-name="travel" style='display:none')
        div.info
            h1 旅遊通路
            p 以消費商店所屬收單機構登記之行業代號為判斷依據
        div.type
            img.type--icon(src=assets+"/images/icon/travel.svg" alt="")
            div.type--desc
                p.type--name 旅行社
        div.type
            img.type--icon(src=assets+"/images/icon/slice.svg" alt="")
            div.type--desc
                p.type--name 免稅店
        div.type
            img.type--icon(src=assets+"/images/icon/airplane.svg" alt="")
            div.type--desc
                p.type--name 航空公司
        div.type
            img.type--icon(src=assets+"/images/icon/hotel.svg" alt="")
            div.type--desc
                p.type--name 飯店
                p.type--stores 含飯店、度假村、旅館、民宿
    div.content(data-name="movie" style='display:none')
        div.info
            h1 影城通路
            p 以消費商店所屬收單機構登記之行業代號為 Mcc code: 7832 (電影院)認定
        div.type
            img.type--icon(src=assets+"/images/icon/movie.svg" alt="")
            div.type--desc
                p.type--name 影城
